In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../DATA/4-hours Pepperstone/4-hours_EURUSD.csv")

In [3]:
def gap_detection(df, lookback=2):
    """
    Detects and calculates the bullish and bearish gaps in the given DataFrame.

    Parameters:
    - df (pd.DataFrame): Input DataFrame with columns 'high' and 'low' representing the high and low prices for each period.
    - lookback (int, optional): Number of periods to look back to detect gaps. Default is 2.

    Returns:
    - pd.DataFrame: DataFrame with additional columns:
        * 'Bullish_gap_sup': Upper boundary of the bullish gap.
        * 'Bullish_gap_inf': Lower boundary of the bullish gap.
        * 'Bearish_gap_sup': Upper boundary of the bearish gap.
        * 'Bearish_gap_inf': Lower boundary of the bearish gap.
        * 'Bullish_gap_size': Size of the bullish gap.
        * 'Bearish_gap_size': Size of the bearish gap.

    The function first identifies the bullish and bearish gaps by comparing the current period's high/low prices
    with the high/low prices of the lookback period. It then calculates the size of each gap and forward-fills any
    missing values in the gap boundaries.
    """
    df_copy = df.copy()
    df_copy["Bullish_gap_sup"] = np.nan
    df_copy["Bullish_gap_inf"] = np.nan

    df_copy["Bearish_gap_sup"] = np.nan
    df_copy["Bearish_gap_inf"] = np.nan

    df_copy["Bullish_gap"] = 0
    df_copy["Bearish_gap"] = 0

    df_copy.loc[df_copy["high"].shift(lookback) < df_copy["low"], "Bullish_gap_sup"] = df_copy["low"]
    df_copy.loc[df_copy["high"].shift(lookback) < df_copy["low"], "Bullish_gap_inf"] = df_copy["high"].shift(lookback)
    df_copy.loc[df_copy["high"].shift(lookback) < df_copy["low"], "Bullish_gap"] = 1

    df_copy.loc[df_copy["high"] < df_copy["low"].shift(lookback), "Bearish_gap_sup"] = df_copy["low"].shift(lookback)
    df_copy.loc[df_copy["high"] < df_copy["low"].shift(lookback), "Bearish_gap_inf"] = df_copy["high"]
    df_copy.loc[df_copy["high"] < df_copy["low"].shift(lookback), "Bearish_gap"] = 1

    df_copy["Bullish_gap_size"] = df_copy["Bullish_gap_sup"] - df_copy["Bullish_gap_inf"]
    df_copy["Bearish_gap_size"] = df_copy["Bearish_gap_sup"] - df_copy["Bearish_gap_inf"]

    # Fill the missing values by the last one
    df_copy[["Bullish_gap_sup", "Bullish_gap_inf",
        "Bearish_gap_sup", "Bearish_gap_inf"]] = df_copy[["Bullish_gap_sup", "Bullish_gap_inf",
                                                     "Bearish_gap_sup", "Bearish_gap_inf"]].fillna(method="ffill")

    return df_copy

In [4]:
gap_detection(df)

,time,open,high,low,close,tick_volume,spread,real_volume,low_time,high_time,Bullish_gap_sup,Bullish_gap_inf,Bearish_gap_sup,Bearish_gap_inf,Bullish_gap,Bearish_gap,Bullish_gap_size,Bearish_gap_size
0,2015-02-06 00:00:00,0.77970,0.78590,0.77933,0.78280,18061,4,21357500000,2015-02-06 00:30:00,2015-02-06 02:30:00,NaN,NaN,NaN,NaN,0,0,NaN,NaN
1,2015-02-06 04:00:00,0.78276,0.78433,0.78117,0.78401,12310,4,14275000000,2015-02-06 04:30:00,2015-02-06 07:30:00,NaN,NaN,NaN,NaN,0,0,NaN,NaN
2,2015-02-06 08:00:00,0.78400,0.78428,0.78185,0.78374,18258,4,19015000000,2015-02-06 10:00:00,2015-02-06 08:00:00,NaN,NaN,NaN,NaN,0,0,NaN,NaN
3,2015-02-06 12:00:00,0.78374,0.78760,0.77793,0.78295,30785,4,32049500000,2015-02-06 15:30:00,2015-02-06 14:30:00,NaN,NaN,NaN,NaN,0,0,NaN,NaN
4,2015-02-06 16:00:00,0.78295,0.78322,0.77851,0.77940,37224,4,41075000000,2015-02-06 16:00:00,2015-02-06 17:00:00,NaN,NaN,NaN,NaN,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12511,2023-02-22 12:00:00,0.68211,0.68477,0.68149,0.68304,16249,4,0,2023-02-22 12:00:00,2023-02-22 14:30:00,0.68943,0.68816,0.68473,0.68419,0,0,NaN,NaN
12512,2023-02-22 16:00:00,0.68304,0.68378,0.68085,0.68225,24241,4,0,2023-02-22 17:30:00,2023-02-22 16:30:00,0.68943,0.68816,0.68473,0.68419,0,0,NaN,NaN
12513,2023-02-22 20:00:00,0.68224,0.68319,0.67946,0.68049,18562,4,0,2023-02-22 21:30:00,2023-02-22 21:00:00,0.68943,0.68816,0.68473,0.68419,0,0,NaN,NaN
12514,2023-02-23 00:00:00,0.68040,0.68340,0.67968,0.68324,7734,4,0,2023-02-23 00:00:00,2023-02-23 03:30:00,0.68943,0.68816,0.68473,0.68419,0,0,NaN,NaN
12515,2023-02-23 04:00:00,0.68322,0.68419,0.68188,0.68231,9418,4,0,2023-02-23 07:30:00,2023-02-23 05:00:00,0.68943,0.68816,0.68473,0.68419,0,0,NaN,NaN